<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Project ToDo List</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Write down your tasks!</h1>
    <div class="container">
        <div class="tasks--list">
            <h5>Your Tasks!</h5>

            <!-- This is for temporary storing in db -->
            <div class="task--item">
                <% if(tasks.length > 0) { %>
                    <% tasks.map(item => { %>
                        <div class="item">
                            <div class="item--first">
                                <span><%= item.title %></span>
                            
                            <div class="task--action">
                                <a href="/task/<%=item.id%>" class="edit" title="edit task">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                      </svg>      
                                </a>
                                <form action="/task/delete/<%=item.id%>?_method=DELETE" class="trash" method="post">
                                    <button type="submit" title="delete task">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                            </div>
                            <p class="item--des"><%= item.description %></p>
                        </div>
                <% })} %>
            </div>
        </div>

        
        
        
        
        <div class="task--create">

            <% if(!task){ %>
                <%- include('createForm.ejs') %> 
           <% }else{ %>
                <%- include('updateForm.ejs') %>
           <% } %>

        </div>
    </div>

</body>
</html>